/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0px; font-family: JetBrains Mono, "JetBrains Mono", sans-serif; }

p{
    font-family: JetBrains Mono;
}
.filler{
    flex-grow: 1;
}
body{
   margin-top: 128px;;
}

html, body { height: 100%; }
body { margin: 0; font-family: JetBrains Mono, "JetBrains Mono", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: JetBrains Mono, "JetBrains Mono", sans-serif; }
